@import "tailwindcss";

:root {
  color-scheme: light dark;
}

html, body, #root {
  height: 100%;
}

/* Better font rendering */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
